@using Northwind.Models
@model IEnumerable<Category>

<div class="bg-primary m-1 p-1 text-white"><h4>Categories</h4></div>
<ul class="list-group">
    @foreach (Category category in Model)
    {
        <li class="list-group-item">
            @category.CategoryName - @category.Description |
            <!--a asp-action="ProductDetail" asp-route-id="@category.CategoryId">View Products</a-->
            <a asp-action="Index" asp-route-id="@category.CategoryId">View Products</a>
        </li>
    }
</ul>

@section Scripts {
    <script type="text/javascript" src="~/js/client.js"></script>
}
