@using Northwind.Models
@model IEnumerable<Category>

<h3><i class="fas fa-list-ul"></i> Browse Categories</h3>

<div style="font-size: larger;" class=list-group>
    @foreach (Category category in Model)
    {
        <a class="list-group-item list-group-item-action" asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryName - @category.Description</a>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/client.js"></script>
}
